@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "nightmare";
  src: url("./nightmare.TTF");
}
* {
  font-family: "nightmare";
  font-weight: bold;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}
body {
  background-color: black;
  font-size: 20px;
  color: snow;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signIn-btn {
  border-radius: 10px;
  background-color: snow;
  font-size: 30px;
  color: black;
  border: black;
  padding: 10px;
  transition: all 0.5s;
}
.signIn-btn:hover {
  background-color: lightblue;
  color: purple;
  transition: all 0.5s;
}
.hintContainer {
  border-radius: 10px;
  padding: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  color: white;
  transition: all 0.2s;
}

.hintContainer:hover {
  background-color: lightgreen;
  color: black;
}
.hintList {
  width: 500px;
  max-width: calc(100vw - 10px);
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.hint {
  width: 200px;
  max-width: 30vw;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}
.email {
  width: 190px;
  max-width: 190px;
  max-width: 30vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: normal;
  margin-left: auto;
  font-family: "Open Sans", sans-serif;
}
.name {
  width: 100px;
  max-width: 30vw;
  padding-right: 5px;
  margin-left: auto;
  font-size: 16px;
  font-weight: normal;

  margin-left: auto;
  font-family: "Open Sans", sans-serif;
}
.hintCount {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.dev {
  color: rgba(255, 255, 255, 0.15);
  position: fixed;
  top: 95vh;
  text-decoration: none;
}
.dev > a {
  color: rgba(255, 255, 255, 0.15);
  text-decoration: none;
}
