@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: copper;
  src: url("./OPTICopperplate.otf");
}
* {
  max-width: 100%;
  font-family: "copper";
}

@media screen and (min-width: 0) {
  html {
    background-size: 150vw auto;
  }
  .desc {
    font-size: 22px;
    font-weight: 550;
  }
}
@media screen and (min-width: 700px) {
  html {
    background-size: auto 100vh;
  }
  .desc {
    font-size: 30px;
    font-weight: 500;
  }
}

html {
  background-image: url("../pics/bg.PNG");

  /* /* background-repeat: no-repeat, no-repeat; */

  font-size: 20px;
  color: snow;

  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
}

.body-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
}

.img-btn {
  top: 50vh;
  width: 300px;
  border-radius: 20px;
}

.img-hint {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 220px;
  background-image: url("../pics/hint.PNG");
  background-repeat: no-repeat no-repeat;
  background-size: 280px auto;
}
.img-form {
  margin-top: 30vh;
  width: 230px;
  padding: 20px;
  background-image: url("../pics/form.PNG");
  background-repeat: no-repeat no-repeat;
  background-size: 280px auto;
}

.img-form-inp {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  width: 160px;
  height: 27px;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 35px;
  margin-right: auto;
  text-align: center;
}

.hint {
  text-align: center;
  color: white;
  font-size: 30px;
  transition: all 0.5s;
}

.hint:hover {
  color: red;
  transition: all 0.5s;
}

.name {
  text-align: center;
  color: white;
  font-size: 20px;
}
.name-text {
  transition: all 0.5s;
  padding: 20px;
  background-color: rgb(29, 29, 29);
}
.desc {
  margin-bottom: 20px;
  color: red;
  transition: all 1s;
  text-align: center;
}
.title {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #e1ad01;
  font-weight: bold;
  position: absolute;
  top: 60px;
}

.codename {
  margin-bottom: 20px;
  font-size: 30px;
  color: snow;
  transition: all 0.5s;
}
.codename:hover {
  color: yellow;
  transition: all 1s;
}
.dev {
  font-size: medium;
  font-family: "Opens San";
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  /* position: absolute;
  top: 135vh; */
  text-decoration: none;
}
.dev > a {
  font-family: "Opens San";
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.intro {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  color: red;
  transition: all 1s;
}
.intro:hover {
  color: white;
  transition: all 1s;
}

.brew-pot-container,
.ghost-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  z-index: 2;
}

.close-ghost {
  font-size: 19px;
  width: 30px;
  height: 30px;
  background-color: snow;
  color: black;
  text-align: center;
  position: fixed;
  z-index: 3;
  border-radius: 50%;
  margin-left: 125px;
  margin-top: -95px;
  transition: all 0.5s;
  cursor: pointer;
}
.close-ghost:hover {
  background-color: red;
  color: white;
  transition: all 1s;
}

.wizard {
  width: 98vw;
  max-width: 100%;
}

.rotate {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
