@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "nightmare";
  src: url("./nightmare.TTF");
}
* {
  font-family: "nightmare";
}

html {
  /* background-image: url("../pics/bps.jpg"); */
  /* background-repeat: no-repeat, no-repeat; */

  background-color: black;
  font-size: 20px;
  color: snow;

  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signIn-btn {
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: snow;
  color: black;
  border: black;
  padding: 10px;
  transition: all 0.5s;
}
.signIn-btn:hover {
  /* background-color: lightblue; */
  color: red;
  transition: all 0.5s;
}

.signOut-container {
  top: 10px;
  position: absolute;
  z-index: 1;
  width: 100vw;
}

.signOut-btn {
  float: right;
  margin-right: 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: snow;
  color: black;
  border: black;
  padding: 10px;
  transition: all 0.5s;
}
.signOut-btn:hover {
  /* background-color: lightblue; */
  color: red;
  transition: all 0.5s;
}
#hint-btn,
#hint2-btn {
  border-radius: 10px;
  background-color: snow;
  color: black;
  border: black;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  transition: all 0.5s;
}
#hint-btn:hover,
#hint2-btn:hover {
  color: red;
  transition: all 0.5s;
}
.hint,
.hint2 {
  text-align: center;
  color: white;
  font-size: 30px;
  transition: all 0.5s;
  padding-bottom: 20px;
}

.hint:hover,
.hint2:hover {
  color: red;
  transition: all 0.5s;
}
.name {
  text-align: center;
  color: white;
  font-size: 20px;
}
.name-text {
  transition: all 0.5s;
  padding: 20px;
  background-color: rgb(29, 29, 29);
}
.desc {
  margin-bottom: 20px;
  color: red;
  transition: all 1s;
  text-align: center;
}
.title {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #e1ad01;
  font-weight: bold;
  position: absolute;
  top: 60px;
}
@media screen and (min-width: 0) {
  .desc {
    font-size: 22px;
    font-weight: 500;
  }
}
@media screen and (min-width: 500px) {
  .desc {
    font-size: 30px;
    font-weight: 500;
  }
}

.codename {
  margin-bottom: 20px;
  font-size: 30px;
  color: snow;
  transition: all 0.5s;
}
.codename:hover {
  color: yellow;
  transition: all 1s;
}
.dev {
  text-align: center;
  color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 95vh;
  text-decoration: none;
}
.dev > a {
  text-align: center;
  color: rgba(255, 255, 255, 0.15);
  text-decoration: none;
}

.intro {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  color: red;
  transition: all 1s;
}
.intro:hover {
  color: white;
  transition: all 1s;
}

.brew-pot-container,
.ghost-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  z-index: 2;
}

.close-ghost {
  width: 30px;
  height: 30px;
  background-color: snow;
  color: black;
  text-align: center;
  position: fixed;
  z-index: 3;
  border-radius: 50%;
  margin-left: 125px;
  margin-top: -95px;
  transition: all 0.5s;
  cursor: pointer;
}
.close-ghost:hover {
  background-color: red;
  color: white;
  transition: all 1s;
}
