@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "nightmare";
  src: url("./nightmare.TTF");
}
* {
  font-family: "nightmare";
}

html {
  /* background-image: url("../pics/bps.jpg"); */
  /* background-repeat: no-repeat, no-repeat; */

  background-color: black;
  font-size: 20px;
  color: snow;

  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signIn-btn {
  border-radius: 10px;
  font-size: 36px;
  font-weight: bold;
  background-color: snow;
  color: black;
  border: black;
  padding: 10px;
  transition: all 0.5s;
}
.signIn-btn:hover {
  /* background-color: lightblue; */
  color: red;
  transition: all 0.5s;
}

#hint-btn {
  border-radius: 10px;
  background-color: snow;
  color: black;
  border: black;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  transition: all 0.5s;
}
#hint-btn:hover {
  color: red;
  transition: all 0.5s;
}
.hint {
  text-align: center;
  color: yellow;
  font-size: 30px;
  transition: all 0.5s;
}
.hint:hover {
  color: red;
  transition: all 0.5s;
}
.name {
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
}
